@page
@model foci.Pages.StatisztikakModel

@{
    ViewData["Title"] = "Statisztikak";
}

<h1>Statisztikak</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].CsapatNeve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].Helyezes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].Pontszam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].JatszottMerkozesekSzama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].NyertMeccsek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].VesztettMeccsek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].LottGolok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].KapottGolok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csapatok[0].Dontetlen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Csapatok) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CsapatNeve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Helyezes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontszam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JatszottMerkozesekSzama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NyertMeccsek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VesztettMeccsek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LottGolok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KapottGolok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dontetlen)
            </td>
        </tr>
}
    </tbody>
</table>
